#input-group{
  margin-bottom: 25px;
}
#displayUser{
  display:none
}
.panel-body{
  padding-top:30px;
}
.panel{
  text-align: center;
  background-color: rgb(171, 220, 227);
  color: rgb(70, 75, 79);
}
#divbutton{
  margin-bottom: 10px;
  margin-top: 10px;
}

body{
  background-image: url('./../../img/original.jpg');
  opacity: 0.95;
}
